{% extends "author/base.html" %}

{% block title %}Django !{% endblock %}

{% block content %}
    <hr>
    <div class="form-group col-xs-12">
        
        <form method='post' action={% url 'get_author' %}>{% csrf_token %}
            {{form.as_p}}
        <br>
        <button type="submit" class="btn btn-primary btn-lg active" value="Send"> Send</button>
        
    </div>
        </form>
        
      
{% endblock %}