

{% extends 'author/base.html' %}

{% block title %}Django !{% endblock %}
 
{% block content %}
    
    <h3>Information about author</h3>
    {{user_author}}
     <center><img id="avatar" width="150px" height="150px"  src="{{ author.avatar.url}}" class="media-object"></center>
    }

    <form method='post' action='' role="form">{% csrf_token %}
    <div class="form-group col-md-6 col-md-offset-3">
    	<label for="first_name"> First name:</label><textarea class="form-control" id="id_text" name="first_name" rows=1 width="50px" >{{author.first_name}}</textarea>
         

    </div>
    <div class="form-group col-md-6 col-md-offset-3">
		<label for="last_name" >Last name:</label> <textarea class="form-control" id="id_text" name="last_name" rows=1  width="50px" >{{author.last_name}}</textarea>
       
	</div>
	<div class="form-group col-md-6 col-md-offset-3">
		<label for="email">Email:</label> <textarea class="form-control" id="id_text" name="email" rows=1>{{author.email}}</textarea>
       
    </div>
    <div class="form-group col-md-6 col-md-offset-3">
        <label for="avatar">Avatar:</label> <input type='file' id="id_text" name="avatar">{{author.avatar}}</input>
    </div>
<div class="form-group col-md-6 col-md-offset-3">
    <button type="submit" class="btn btn-success" value="Save"> Save</button>
     <br>
     <a href="../../get_list/"> Authors </a> 
     </div>
    </form>
     
{% endblock %}