{% extends 'author/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}


	<form role="form" action='' method='post'>{% csrf_token %}
  <div class="form-group col-xs-12 ">
    <label  for="username">Username:</label>{{form.username}}
</div>
    <div class="form-group col-xs-12 ">
    <label  for="pass">Password</label>{{form.password}}
  </div>
  <div class="form-group col-xs-12 ">
     <button type="submit" class="btn btn-default" value="Send"> Send</button>
  </div>
  
	</form>



 
<!--   <div class="container">

      <form class="form-signin" role="form" action='' method='post'>{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="login" class="form-control" placeholder="Login" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>-->

  

{% endblock %}

