{% extends "author/base.html" %}

{% block title %}Saved!{% endblock %}

{% block content %}

<h1><center> <p class="bg-primary">Successfully saved!!!</p></center></h1>

<a href='../get_list/'> Authors</a>       


{% endblock %}