

{% extends 'author/base.html' %}

{% block title %}Django !{% endblock %}
 
{% block content %}
    
{% load tz %}
<form >
   <!--  {% csrf_token %} -->
    <p>{{TIME_ZONE}} {{time}} {% now "js F Y H:i"%}</p>
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set" />
</form>

{% endblock %}

<!-- 
action="{% url 'set_timezone' %}" method="POST" -->

